<html>
<head>
    <title>Currency Converter</title>
</head>
<body>
<h2><%= ansCUR %></h2>
    <form action="/" method="post">
	    <input type="text" name="fromCUR" /> <br /><br />
		<input type="text" name="toCUR" /> <br /><br />
		<input type="text" name=dd /> <br /><br />
		<input type="submit" value="Convert" /> <br />
		
	</form>
	
</body>
</html>
